$shadow_color: #141414;

.navcont {
  // border: 1px solid black;
  background-color: #03143a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;

  -webkit-box-shadow: 0px 3px 9px -1px $shadow_color;
  box-shadow: 0px 3px 9px -1px $shadow_color;

  .logo {
    cursor: pointer;
    font-size: 1.5rem;
    color: #f3f3f3;
  }

  .links {
    font-size: 1.3rem;
    display: flex;
    cursor: pointer;
    font-family: $secondary_font;

    .item {
      padding: 10px;
      text-decoration: none;
      color: rgb(245, 242, 216);
      transition: 0.3s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 5px;
    }

    .item:hover {
      color: inherit;
      background-color: rgb(245, 242, 216);
    }
  }
}

//Mobile?
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}